:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    font-weight: 600;
}

#editableArea {
    box-sizing: border-box;
    min-height: 550px;
    margin: 8px;
    max-height: 100vh;
    font-size: 20px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
}

#desc {
    margin-top: -35px !important;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    letter-spacing: -1.2px;
    font-size: 50px;
    color: #000;
    transition: color 300ms;
}

h1:hover {
    color: #c26400 ;
}

span {
    font-weight: 900;
}

#owner {
    bottom: 0;
    text-align: center;
}

#version {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

.under-construction {
    height: 300px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: repeating-linear-gradient(-45deg, #000, #000 30px, #ffdd00 30px, #ffdd00 50px);
}

body {
    margin: 0;
}

.github {
    text-align: center;
    color: #000;
    font-size: 24px;
}

.fa-github {
    color: #000;
    transition: color 200ms;
}
.fa-github:hover {
    color: #5900ff;
}

@media screen and (min-height: 637px) and (max-height: 838px){
    #editableArea {
        min-height: 450px;
    }
}