:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    font-weight: 600;
}

#editableArea {
    box-sizing: border-box;
    min-height: 550px;
    margin: 8px;
    max-height: 100vh;
    font-size: 20px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
}

#desc {
    margin-top: -35px !important;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    letter-spacing: -1.2px;
    font-size: 50px;
    color: #000;
    transition: color 300ms;
}

h1:hover {
    color: #ffd500;
}

span {
    font-weight: 900;
}

#owner {
    bottom: 0;
    text-align: center;
}

#version {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

.under-construction {
    height: 300px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: repeating-linear-gradient(-45deg, #000, #000 30px, #ffdd00 30px, #ffdd00 50px);
}

body {
    margin: 0;
}

.github {
    text-align: center;
    color: #000;
    font-size: 24px;
}

.fa-github {
    color: #000;
    transition: color 200ms;
}
.fa-github:hover {
    color: #5900ff;
}

@media screen and (min-height: 637px) and (max-height: 727px){
    #editableArea {
        min-height: 450px;
    }
}

body.amoled-mode {
    background-color: #000;
}

body.amoled-mode #editableArea {
    background-color: #000;
}

.spoiler {
    background-color: #22222234;
    padding: 1px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: inherit;
}

.spoiler.revealed {
    background-color: #222222;
    color: #222222;
    font-weight: inherit;
}

@media screen and (min-height: 727px) and (max-height: 915px){
    #editableArea {
        min-height: 410px;
    }

    .under-construction {
        height: 400px;
    }
}

.keyboard-shortcuts-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    z-index: 2;
    display: none;
}

.keyboard-shortcuts-container.show {
    display: block;
}

.keyboard-shortcuts-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.keyboard-shortcut {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.keyboard-shortcut-key {
    background-color: #f3f3f3;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.keyboard-shortcut-description {
    font-weight: bold;
}

.keyboard-shortcut-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.keyboard-shortcut-modal-background.show {
    display: block;
}

.keyboard-shortcuts-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}