@import url(./style.css);
@import url(./color.css);

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

:root {
    font-family: "Inter", sans-serif, Inter;
  }
  
  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
      font-family: Inter var , sans-serif;
    }
  }